# Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/zent_db?schema=public"

# Authentication
# Crie uma chave segura com: openssl rand -base64 32
JWT_SECRET_KEY="your-super-secret-key-change-it"

# Environment
NODE_ENV="development"

# Email (SMTP)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your_email@gmail.com"
SMTP_PASS="your_app_password"
SMTP_FROM="Zent App <noreply@zent.app>"

# RESEND_API_KEY=re_FcjkiMS1_A6aaDTt7sKStNuhASyendgaN
# EMAIL_FROM=noreply@zent.app
# App Config

NEXT_PUBLIC_APP_URL=http://localhost:3001

GOOGLE_MAPS_KEY=