# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next
/out/
.next\
.next
.next/server

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Env Files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Capacitor
/resources

# Android
/android/app/build
/android/.gradle
/android/local.properties
/android/*.iml
/android/.idea
/android/app/src/main/assets/public

# Gemini Agent Memory
.gemini

.vscode
